@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXk.ttf) format('truetype');
}
body {
  background-color: #ecf0f1;
}
.paragraphs {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
.paragraphs a {
  text-decoration: none;
}
.card {
  background: #ffffff;
  margin: 5em auto auto auto;
  padding: 10px 10px 5px 10px;
  width: 40%;
}
.card .contact {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
.card .contact a {
  text-decoration: none;
}
.card .experience {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  transition: opacity 0.5s linear, height 1s ease 0.5s;
  opacity: 0;
  height: 0;
}
.card .experience a {
  text-decoration: none;
}
.card .experience img {
  width: 30%;
  border-radius: 2px;
}
.card .experience ul {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}
.card .experience ul li {
  font-size: 2.5em;
  float: left;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
  width: 10%;
  left: 10px;
}
.card .experience.show {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  transition: height 1s, opacity 0.5s linear 1s;
  opacity: 1;
  height: 400px;
  overflow: auto;
}
.card .experience.show a {
  text-decoration: none;
}
.card .experience.show img {
  width: 30%;
  border-radius: 2px;
}
.card .experience.show ul {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}
.card .experience.show ul li {
  font-size: 2.5em;
  float: left;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
  width: 10%;
  left: 10px;
}
.card .skill-shake:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.card footer {
  padding-top: 2em;
  width: 100%;
  display: block;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
.card footer a {
  text-decoration: none;
}
.card footer .footer-icon {
  font-size: 2em;
  margin: auto 0 0 0;
}
.card footer .carrot-up {
  display: inline-block;
  font-size: 2em;
  transition: transform 400ms ease-in-out;
}
.card footer .carrot-up:hover {
  cursor: pointer;
  transition: transform 400ms;
  transform: scale(2.5);
}
.card footer .carrot-down {
  display: inline-block;
  font-size: 2em;
  transition: transform 400ms ease-in-out;
  transform: rotate(180deg);
}
.card footer .carrot-down:hover {
  cursor: pointer;
  transition: transform 400ms;
  transform: scale(2.5) rotate(-180deg);
}
